body {
	margin:20px;
}
.main {
  padding: 40px;
}
.new-record-btn {
	font-size:1.5em;
	font-weight:bold;
	cursor:pointer;	
}
.additional-input {
	width:300px;
}
.additional-input2 {
	width:700px;
}
.float-right {
	float:right;
}
